/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
div{
	width:50%;
    padding: 30px;
    background-color: #f1f1f1;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin:auto;
}
h1{
	font-size:29px;
}
p{ font-size:17px;
 line-height:1.5;
 }
img{
	width:90%
}
#btn{
	color:white;
	padding:10px;
	background-color:rgb(254,98,90);
	border-radius:10px;
	margin:10px;
	cursor:pointer;
	border:none;
	
}

	
